img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}
.username {
    font-weight: bold;
}
button.Subscribe{
    background-color: rgb(200, 0, 0);
    color:azure;
    cursor:pointer; /*Changes mouse icon when hovering above*/
    border:none;
    width:105px;
    height:36px;
    border-radius:2px;
}
.Join{
    background-color:white;
    color:lightblue;
    cursor:pointer; /*Changes mouse icon when hovering above*/
    border:none;
    width:105px;
    height:36px;
    border-radius:2px;
}
